{% extends 'base.html' %}


{% block title %} Our Pets {% endblock %}



{% block links %} 
<a class="btn btn-outline-primary" href="/add">Add a Pet</a>
{% endblock %}


{% block content %} 

{% for pet in pets %}
<div class="col-3 mb-5">
    <a class="" href="/pets/{{pet.id}}">
    <img style="height: 200px; width: 200px; object-fit: cover;" class="img-thumbnail float-start" src="{{ pet.photo_url }}">

    <h3 class="text-dark text-decoration-none">
        {{pet.name}}
    </h3>

    <div class="">
        {% if pet.available %}
        <p class="text-primary"><b>AVAILABLE!</b></p>
    
        {% else %}
        <p class="text-muted">ADOPTED</p>
    
        {% endif %}
    </div>
    </a>
</div>
{% endfor %}


{% endblock %}