{% extends 'base.html' %}


{% block title %} {{ pet.name }} {% endblock %}


{% block links %} <a class="link-secondary text-decoration-none" href="/">Back to All Pets</a> {% endblock %}


{% block buttons %} 
<form style="text-align: end;">
    <button class="btn btn-outline-primary btn-sm" formaction="/{{ pet.id }}/edit-pet" formmethod="get">Edit
        Pet</button>

    <button class="btn btn-outline-danger btn-sm" formaction="/{{ pet.id }}/delete-pet"
        formmethod="POST">Delete</button>
</form>
{% endblock %}


{% block content %} 

<div class="col-4">
    <img class="img-thumbnail float-start" src="{{ pet.photo_url }}">
</div>

<div class="col-8 pl-4">
    <div>
        <b>Age:</b> {{ pet.age }}
    </div>
    <div>
        <b>Species:</b> {{ pet.species }}
    </div>
    <div>
        <b>Notes:</b>
        {% if pet.notes %}
        <p>{{ pet.notes }}</p>
        {% endif %}
    </div>
</div>

{% endblock %}